[experiment]
randomSeed=2289
# bad case for space with size 1 and range 0.3 seed: 1670054
numberOfExperiments=1
repetitionsPerDDM=1
outputTxtFile=../../data/out.txt
outputPdfFile=../../data/output
cluster=false

[Agent]
# possible agentTypes are [ 'simple' , 'DDM' ]
agentType=DDM
max_time=100
# possible updateModel are [ 'no-up', 'conf-kick', 'thresh-kick' ]
updateModel=conf-kick
misinformed=false

[SimpleAgent]
accuracyMean = 0.6
accuracyStdDev = 0.12
truncatePoor=true

[DDM]
# possible driftDistributions are [ 'uniform', 'normal', 'from_accuracy' ]
driftDistribution=normal
baseDrift=0.3
driftStdDev=0.3
randomDriftRangePlusMinus=0.5
noiseStdDev=1
dt=0.001
threshold=10
prior=0.5
useBayesRisk=true
# costMatrix accepts two values [ timeCost, errorCost ]
costMatrix=[ 1 , 100 ]

[Network]
number_of_nodes=50
# possible netTypes are [ 'full' , 'erdos-renyi', 'barabasi-albert', 'space', 'soft-rgg', 'from-file', 'from-file-fixComm', 'rgg-fixed-degree' ]
netType=rgg-fixed-degree
number_of_edges=20
link_probability=0.4
area_size=1
communication_radius=10
coordinates_file=../../kilobots/data/log_confsens_keep2.txt
periodic=false

[Move]
dynamic=false
speed=0.05
change_direction_deg_stddev=45
plotTrajectory=true