[experiment]
randomSeed=2289
numberOfExperiments=2
repetitionsPerDDM=2
outputTxtFile=../../data/out.txt
outputPdfFile=../../data/output
cluster=false

[DDM]
driftDistribution=normal
baseDrift=0.1
driftStdDev=0.5
randomDriftRangeMin=-1
randomDriftRangeMax=1
noiseStdDev=0.5
dt=0.01
threshold=1

[Network]
number_of_nodes=10
number_of_edges=8
link_probability=0

[Comparison]
storeBestDDM=true
storeConfDDM=true
storeMajorityRand=true
storeMajorityBias=true
storeMajorityInhib=true
storeCDCI=true
storeFullNetConf=true
storeFullNetMaj=true