[experiment]
randomSeed=SEED
numberOfExperiments=NUM_EXP
repetitionsPerDDM=NUM_RUN
outputTxtFile=OUT_TXT
outputPdfFile=none
cluster=true

[DDM]
driftDistribution=DDM_DRIFT_METHOD
baseDrift=BASE_DRIFT
driftStdDev=DDM_STD_DEV_DRIFT
randomDriftRangeMin=DDM_DRIFT_RANGE_MIN
randomDriftRangeMax=DDM_DRIFT_RANGE_MAX
noiseStdDev=DDM_STD_DEV_NOISE
dt=0.01
threshold=THRESHOLD

[Network]
number_of_nodes=NUM_NODES
number_of_edges=NUM_EDGES
link_probability=LINK_PROBABILITY

[Comparison]
storeBestDDM=true
storeConfDDM=true
storeMajorityRand=true
storeMajorityBias=true
storeMajorityInhib=true
storeCDCI=true
storeFullNetConf=true
storeFullNetMaj=true