[experiment]
randomSeed=SEED
numberOfExperiments=NUM_EXP
repetitionsPerDDM=NUM_RUN
outputTxtFile=OUT_TXT
outputPdfFile=none
cluster=true

[Agent]
# possible agentTypes are [ 'simple' , 'DDM' ]
agentType=AGENT_TYPE
# possible decisionModels are [ 'conf-perfect', 'majority-rand', 'majority-bias', 'majority-inhibit', 'best-acc', 'best-conf', 'log-odds' ]
decisionModel=DEC_MODEL

[SimpleAgent]
accuracyMean = ACC_MEAN
accuracyStdDev = ACC_STD_DEV

[DDM]
# possible driftDistributions are [ 'uniform', 'normal', 'from_accuracy' ]
driftDistribution=DDM_DRIFT_DIST
baseDrift=DDM_BASE_DRIFT
driftStdDev=DDM_DRIFT_STD_DEV
randomDriftRangeMin=DDM_DRIFT_RANGE_MIN
randomDriftRangeMax=DDM_DRIFT_RANGE_MAX
noiseStdDev=DDM_NOISE_STD_DEV
dt=0.01
threshold=1
interrogationTime=INTERR_TIME

[Network]
number_of_nodes=NUM_NODES
# possible netTypes are [ 'full' , 'erdos-renyi', 'barabasi-albert' ]
netType=NET_TYPE
number_of_edges=NUM_EDGES
link_probability=LINK_PROBABILITY

