[experiment]
randomSeed=2289
# bad case for space with size 1 and range 0.3 seed: 1670054
numberOfExperiments=3
repetitionsPerDDM=1
outputTxtFile=../data/out.txt
outputPdfFile=../data/output
cluster=false

[Agent]
# possible agentTypes are [ 'simple' , 'DDM' ]
agentType=simple
# possible decisionModels are [ 'conf-perfect', 'majority-rand', 'majority-bias', 'majority-inhibit', 'best-acc', 'best-conf', 'log-odds-perfect', 'log-odds-combo', 'log-odds-distr', 'log-odds-approx', 'belief' ]
decisionModel=conf-perfect
max_iterations=100
# possible updateConfs are [ 'no-up', 'theta-up', 'theta-norm', 'optim-up', 'belief-up', 'finite-time' ]
updateConf=optim-up
beliefEpsilon=0
finiteTimeExponent=0.5
misinformed=false

[SimpleAgent]
accuracyMean = 0.6
accuracyStdDev = 0.12
truncatePoor=true

[DDM]
# possible driftDistributions are [ 'uniform', 'normal', 'from_accuracy' ]
driftDistribution=normal
baseDrift=0.1
driftStdDev=0.5
randomDriftRangePlusMinus=1
noiseStdDev=0.5
dt=0.01
threshold=1
interrogationTimeFromAccuracy=true
interrogationTime=10
prior=0.5
# costMatrix accepts two values [ timeCost, errorCost ]
costMatrix=[ 1 , 100 ]

[Network]
number_of_nodes=50
# possible netTypes are [ 'full' , 'erdos-renyi', 'barabasi-albert', 'space', 'soft-rgg', 'from-file', 'from-file-fixComm', 'rgg-fixed-degree' ]
netType=rgg-fixed-degree
number_of_edges=10
link_probability=0.4
area_size=1
communication_radius=10
coordinates_file=../../kilobots/data/log_confsens_keep2.txt
periodic=false

[Move]
dynamic=false
speed=0.05
change_direction_deg_stddev=45
plotTrajectory=true