[experiment]
randomSeed=SEED
numberOfExperiments=NUM_EXP
repetitionsPerDDM=NUM_RUN
outputTxtFile=OUT_TXT
outputPdfFile=none
cluster=true

[Agent]
# possible agentTypes are [ 'simple' , 'DDM' ]
agentType=AGENT_TYPE
# possible decisionModels are [ 'conf-perfect', 'majority-rand', 'majority-bias', 'majority-inhibit', 'best-acc', 'best-conf', 'log-odds-perfect', 'log-odds-combo', 'log-odds-distr', 'log-odds-approx' ]
decisionModel=DEC_MODEL
max_iterations=MAX_TIME
# possible updateConfs are [ 'no-up', 'theta-up', 'theta-norm', 'optim-up', 'belief-up', 'finite-time' ]
updateConf=UPDATE_CONF
beliefEpsilon=BELIEF_EPSILON
finiteTimeExponent=FINITE_TIME_EXPONENT
misinformed=ALLOW_MISINFO

[SimpleAgent]
accuracyMean=ACC_MEAN
accuracyStdDev=ACC_STD_DEV
truncatePoor=ACC_TRUNCATED

[DDM]
# possible driftDistributions are [ 'uniform', 'normal', 'from_accuracy' ]
driftDistribution=DDM_DRIFT_DIST
baseDrift=DDM_BASE_DRIFT
driftStdDev=DDM_DRIFT_STD_DEV
randomDriftRangePlusMinus=DDM_DRIFT_RANGE_PLUS_MINUS
noiseStdDev=DDM_NOISE_STD_DEV
dt=0.01
threshold=1
interrogationTimeFromAccuracy=I_TIME_FROM_ACC
interrogationTime=INTERR_TIME
prior=PRIOR_DIST
costMatrix=[ COST_MATRIX_T , COST_MATRIX_E ]

[Network]
number_of_nodes=NUM_NODES
# possible netTypes are [ 'full' , 'erdos-renyi', 'barabasi-albert' ]
netType=NET_TYPE
number_of_edges=NUM_EDGES
link_probability=LINK_PROBABILITY
area_size=ENV_SIZE
communication_radius=INTERACTION_RADIUS
coordinates_file=none
periodic=PERIODICBOUND

[Move]
dynamic=DYNAMICNET
speed=AGENTSPEED
change_direction_deg_stddev=MOVE_STDDEV
plotTrajectory=false
